# Default owner for everything
* @aristeoibarra

# Documentation
*.md @aristeoibarra
docs/ @aristeoibarra

# Source code
src/ @aristeoibarra

# Tests
tests/ @aristeoibarra

# CI/CD
.github/ @aristeoibarra
